sch/style-schema.sch

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
    <pattern>
        <rule context="*">
            <assert test="false()">element <name/></assert>
        </rule>
    </pattern>
</schema>
