dtd/style-schema.dtd

<?xml encoding="UTF-8"?>
<!-- This DTD contains declarations for "built-in" elements and attributes, i.e.
those generated from Word built-in structures - principally tables and inline
styles.

In order for validation to succeed, you should add expected styles to this DTD.
Elements generated by the validation process based on user-defined styles follow
this naming pattern:

    Para.<STYLENAME> - for paragraph styles
    Text.<STYLENAME> - for character styles
    
Paragraph styles may only contain text and/or character styles, e.g.

    <!ELEMENT Para.Foo (#PCDATA|b|ul|Text.Bar)*>
    
Depending on your document structure, you will also very likely need to modify: 

    %document-content;
    %table-entry-content;
    
to suit your purposes.

Should you wish to constrain the usage of built-in inline styles, modify 

    %inline-styles;
    
accordingly.

NOTE: the remaining table element declarations must remain the same, as these
are defined by Word. Also, the names of the root element (Document) and those 
of the built-in inline styles are fixed and modifying them will result in 
invalid documents where they occur.
-->
<!ENTITY % document-content "ANY">
<!ENTITY % table-entry-content "ANY">
<!ENTITY % xpath-att "xpath CDATA #IMPLIED">
<!ENTITY % inline-styles "(#PCDATA|highlight|b|i|sc|sub|sup|ul|symbol|url)*">
<!ENTITY % optional-off-att "off (yes|no) #IMPLIED">

<!ELEMENT Document %document-content;>
<!ATTLIST Document
  xmlns CDATA #FIXED ''
%xpath-att;>

<!ELEMENT table (tgroup)>
<!ATTLIST table
  xmlns CDATA #FIXED ''
%xpath-att;>

<!ELEMENT tgroup (colspec+,tbody)>
<!ATTLIST tgroup
  xmlns CDATA #FIXED ''
  cols CDATA #REQUIRED
%xpath-att;>

<!ELEMENT colspec EMPTY>
<!ATTLIST colspec
  xmlns CDATA #FIXED ''
  colname CDATA #REQUIRED
  colnum CDATA #REQUIRED
  colwidth CDATA #REQUIRED
%xpath-att;>

<!ELEMENT tbody (row)+>
<!ATTLIST tbody
  xmlns CDATA #FIXED ''
%xpath-att;>

<!ELEMENT row (entry)+>
<!ATTLIST row
  xmlns CDATA #FIXED ''
%xpath-att;>

<!ELEMENT entry %table-entry-content;>
<!ATTLIST entry
  xmlns CDATA #FIXED ''>
  
<!ELEMENT b %inline-styles;>
<!ATTLIST b
  xmlns CDATA #FIXED ''
  %optional-off-att;
%xpath-att;>

<!ELEMENT sub %inline-styles;>
<!ATTLIST sub
  xmlns CDATA #FIXED ''
%xpath-att;>

<!ELEMENT sup %inline-styles;>
<!ATTLIST sup
  xmlns CDATA #FIXED ''
%xpath-att;>

<!ELEMENT highlight %inline-styles;>
<!ATTLIST highlight
  xmlns CDATA #FIXED ''
  colour NMTOKEN #REQUIRED
%xpath-att;>

<!ELEMENT i %inline-styles;>
<!ATTLIST i
  xmlns CDATA #FIXED ''
  %optional-off-att;
%xpath-att;>

<!ELEMENT ul %inline-styles;>
<!ATTLIST ul
  xmlns CDATA #FIXED ''
%xpath-att;>

<!ELEMENT sc %inline-styles;>
<!ATTLIST sc
  xmlns CDATA #FIXED ''
%xpath-att;>

<!ELEMENT symbol %inline-styles;>
<!ATTLIST symbol
  xmlns CDATA #FIXED ''
  font CDATA #REQUIRED
  value CDATA #REQUIRED
%xpath-att;>

<!ELEMENT url %inline-styles;>
<!ATTLIST url
  xmlns CDATA #FIXED ''
  address CDATA #REQUIRED
%xpath-att;>